/* importações */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* retirando a margem do body */
body{
  margin:0;
  font-family: 'Press Start 2P', cursive;
  background-image: url('foto.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

.content-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
  top: 0px;
  background: rgba(237, 237, 237, 0.04);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-form h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #F3E8E8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.08);
  border-radius: 20px;
  height: 88px;
  width: 471px;
  border: none;

}
.input-login::placeholder {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding-left: 25px;
  color: #F3E8E8;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo_e_comecar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color:white;
  padding-top: 30px;
}

#titulo_e_comecar h2{
  font-size: 2em;
  
}
#titulo_e_comecar h1{
  font-size:2.5em;
  animation: moverTitulo 2s ease-in-out infinite;
}
/* animação do titulo */
@keyframes moverTitulo {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#titulo_e_comecar button{
  /* tamanhos */
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 16px;
  margin-top:10px;
  /* cores */
  color:white;
  border: 3px solid white;
  background-image: linear-gradient(to bottom, #FF5925, white);
  background-size: 100% 200%;
  cursor:pointer;
}

button:active {
  transform: translateY(4px);
}
.run {
  /*left: -126px;*/
  right:100%;
  position: absolute;
  width: 130px;
  bottom: 40%;
  animation: run 5s linear;
}

.avatar {
  position: absolute;
  width: 120px;
  bottom: 40%;
  right:100%;
}

 @keyframes run {
  from {
    right:100%;
  }
  to {
    right: -130px;
  }
}


@media (max-width: 600px) {
  #titulo_e_comecar h2{
    font-size: 1.7rem;
    
  }
  #titulo_e_comecar h1{
    font-size:2rem;
  }
  #titulo_e_comecar {
    padding-top: 5px;
  }
  #titulo_e_comecar button{
    width: 150px;
    font-size: 0.8rem;
    margin-top:5px;
  }
  .avatar {
    position: absolute;
    width: 100px;
    bottom: 50%;
    right:100%;
  }
}

