.navbar{
    width: 100%;
    height: 8vh;
    background-color: white;   
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-image: url('tronconav.png');
    background-repeat: repeat-x;
    background-size:auto 100%;
    background-position: center top;
}

.btnmenu{
    cursor:pointer;
    position:absolute;
    right: 2rem;
    height: 5vh;
    width: 7vw;
    background-image: url('button_action.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Press Start 2P', cursive;
    border:none;
    
}

.menu1{
    display: block;
    justify-content: center;
    height: 100vh;
    width: 0vw;
    z-index: 2;
    position: fixed;
    right:0rem;
    top: 8vh;
    transition: width 0.5s ease; /* Adicionado: Transição de altura com duração de 0.5s e função ease */
    transition-delay: 1s;
    overflow: hidden; /* Adicionado: Para esconder o conteúdo quando o menu está fechado */
    background-image: url('fundo-pergaminho.png');
  
}
.menu2{
    height:100%;
    width:100%;
    opacity: 0;
}

.img_profile1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aa {
    /*width: 100%;*/
    height: 90%;     

}

.linksmenu,.menup{
    height: 10%;
    width: 100%;
    display:flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 10px;
    border-bottom-color:black;
}



.linksmenu a{
    color:black;
    font-size: 130%;
    text-decoration: none;
}

.nomeinput {
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    font-style: bold;
    font-size: 100%;
    height: 50%;
    width: 60%;
    font-family: 'Press Start 2P', cursive;
}
.bn{
    position: initial;
}
.bn input{
    cursor:pointer;
    position:absolute;
    right: 2rem;
    height: 5vh;
    width: 7vw;
    background-image: url('button_action.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Press Start 2P', cursive;
    border:none;
    bottom: 4rem;
}


@media screen and (max-width: 1024px){

    .btnmenu{
        font-size: 10px;
        height: 4vh;
    }
    .bn input{
        font-size: 10px;
        height: 4vh;
    }
    .nomeinput{
        font-size:80%;
    }
    .aa{
        height: 70%;
    }
    .linksmenu{
        height: 7%;

    }
    .linksmenu a{
        font-size:80%
    }
}
@media screen and (max-width: 820px){
    .bn{
        display: flex;
        justify-content: center;
    }
    .bn input{
        position: initial;
    }
    .btnmenu{
        height:3vh;
        font-size: 7px;

    }
    .bn input{
        height:3vh;
        font-size: 7px;
    }
    .menup{
        height: 30%;
    }
    .menup input{
        display:none;
    }
    .linksmenu a{
        font-size: 60%;
    }
}

@media screen and (max-width: 425px){
    .btnmenu{
        height: 80%;
        font-size: 15px;
        width: 20vw;
    }
    .bn input{
        font-size: 15px;
        height: 50px;
        width: 20vw;
    }
    .linksmenu{
        height: 8%;
    }
    .linksmenu a{
        font-size: 150%
    }
}