/* importações */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    height: 100%;
    background-image: url('fundo-pergaminho.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}




/* nome da trilha na parte de cima  */
.titleTrilha {
    color: black;
    font-size: 2.5rem;
    padding-bottom: 40px;
}
/* conteiner pai de todos  */
.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 7rem;
    position: relative;
}
/* dropdown */
.tema_conteiner_principal{
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 30px;
}
.tema_nome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    color: white;
    font-size: 1.4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.664);
    background-image: url('barra_madeira.png');
    background-position: center;
    background-size: 100% 100%;
    padding-left: 50px;
    padding-right: 10px;
}
.seta_tema{
    background-color: transparent;
    border:none;
    transition: .5s ease;
}

.seta_tema:hover {
    cursor: pointer;
}

.tema_conteiner{
    display: none;
    flex-direction: column;
    transition: .3s ease;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: auto;
}
.fundo{
    position: relative;
    height: inherit;
    width: 100%;
}
.bordertop{
    padding: 0;
    margin: 0;
    width: inherit;
    position: relative;
}
.borderbottom{
    padding: 0;
    margin: 0;
    width: inherit;
    position: relative;
}

.cursos_tema {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#F6D99D, #FFEED4);
}

.trilhas_nome:hover {
    cursor: pointer;
} 
.nome_curso {
    text-decoration: none;
    width: 100%;
    margin: 5px;
    color: white;
    line-height: 28px;
    font-size: 1.1rem;
    padding-left: 10px;
    z-index: 1;
}
.courseList {
    display: flex;
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.courseList a {
    color: black;
    font-size: 1rem;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.courseList input[type="checkbox"] {
    appearance: none;
    background-color: rgba(62, 152, 212, 0.384);
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    transition: .3s ease-in-out;
}
  
input[type="checkbox"]:checked {
background-image: url('check.png');
background-position: center center;
background-repeat: no-repeat;
background-color: #4CAF50;
}

.progress-all-trail {
    color: white;
    font-size: 1.3rem;
    padding-left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.664);
    padding-left: 5rem;
}

/* Estilização da barra de progresso */

#progress_bar {
      display:block;
      margin-top: 10px;
      -webkit-appearance: none;
      width: 100%;
}

#progress_bar::-webkit-progress-bar {
    background: #D0D9F9;
    border-radius: 50px;
    padding: 1.5px;
    width: 100%;
    height: 2vh;
}

#progress_bar::-moz-progress-bar {  
    background: #D0D9F9;
    border-radius: 50px;
    padding: 2px;
}

#progress_bar::-webkit-progress-value {
    background: linear-gradient(to right, #f1df85 0%, #f1df85 80.21%, #f1df85 100%);
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    .content {
        padding-left: 1rem;
    }
    .titleTrilha {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    .tema_conteiner_principal {
        width: 100%;
        padding: 10px 10px 30px 0px;
        margin-bottom: 10px;
    }
    .tema_nome {
        font-size: 1.2rem;
        min-height: 15vh;
        padding-left: 1.5rem;
    }
    .courseList {
        padding-left: 10px;
    }
    .courseList a {
        font-size: 0.7rem;
    }
    .progress-all-trail {
        padding-left: 1rem;
        font-size: 0.8rem;
        margin-bottom: 50px;
    }
}
