
/* importações */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  height: 100%;
  background-image: url('fundo_main.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}



.container {
  padding-top: 13vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trilhas h1 {
  font-size: 3rem;
  padding-bottom: 40px;
  color: black;
  animation: float 2s ease-in-out infinite;
  text-align: center;
  width: 100%;
}

.trilhas{
  display: flex;
  width: 80%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.trilhas a {
  text-decoration: none;
}

.trilhas_conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  height: 200px;
  margin: 20px;
  color: black;
  font-size: 1rem;
  transition-duration: 0.4s;
  background-image: url('pergaminho.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.trilhas_nome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1.8rem;
  width: 50%;
  height: 70%;
}

.trilhas_conteiner:hover{
  color: #F3E8E8;
}

.trilhas_conteiner:active{
  transform: translateY(4px)
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .trilhas_conteiner{
    min-width: 90vw;
  }
}