@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-image: url('assets/fundoareia.png');
}



.grid-container{
  display: grid;
  grid-template-columns: 40% 50%;
  background-image: url('assets/pergaminho222.png'); 
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position-x: center;
  background-position-y: center;
  padding: 8rem;
  /*column-gap: 4rem;*/
  justify-content: center;
}
  
.grid-item {    
  padding: 20px;
  font-size: 30px;
  width: 40vw;
  height: 30vw;
  text-align: center;
  align-items: center;
  position:relative;
}
.buttomperfil {
  display: flex;
    position: absolute;
    right: 90px;
    top: 35px;
    cursor: pointer;
    z-index: 1;
    height: 13%;
    width: 10%;
}

.trocar_img {
  width: 100%;
  height: 100%;
}

.img_profile1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aa {
  /*width: 100%;*/
  height: 90%;     
 
}

.title_profile {
  font-family: 'Press Start 2P';
  color: white;
}

.text{
  color: black;
  font-family: 'Press Start 2P';
    
}
  /* .form { 
    font-family: 'Press Start 2P', cursive;
    display:grid;
    padding-top: 5%;
    width: 46.3vw;  
    grid-template-columns: 3, 1fr;
   height: 100%;
    flex-direction: column;
    color: white;
    */
  /* } */
.form_profile {

  padding-top: 2rem;
  font-family: 'Press Start 2P';
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_profile input{ 
    
  font-family: 'Press Start 2P', cursive;
  color: black;;
  width: 80%;
  height: 3.5rem;
  background-color: #D0A270;
  margin: 1.3rem;
  /*font-size: 1.5rem*/
  padding-left: 10px ;
  border-color: black;
  border-radius: 0px;
}

/*esta classe vai substituir .grid-container*/
.novocontainer{
  display: block;
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 426px){
  .navbar{
    width: 100%;
    position: initial;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 40%;

  }

  .title_profile{

    font-size:2rem;
    padding-top: 6%;
    padding-bottom: 10%;
    text-align: center;
  }
}


