/* Importações de fontes */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(180deg, #0E1947 -3.65%, rgba(32, 6, 58, 0.71) 96.35%);
  height: 100vh;
  width: 100vw;
}

/* container */
.container {
  padding-top: 8vw;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

/* quadrado maior */
.big-square {
  width: 520px;
  height: 400px;
  background: #D9D9D9;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 9px;
}

/* quadros de seleção de personagem */
.character {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #D9D9D9;
  border: 2px solid transparent;
  cursor: pointer;
}

.character.selected {
  border-color: #FF5925;
  border-radius: 30px;
}

.character img {
  max-width: 100%;
  max-height: 100%;
}

/* botão "Escolher Personagem" */
#chooseBtn {
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  animation: float 2s ease-in-out infinite;
  width: 400px;
  height: 60px;
  font-size: 1rem;
  border-radius: 20px;
  color: white;
  border: 3px solid white;
  background-color: #FF5925;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon-x {
  width: 1vw;
  height: 1vh;
}

/* Responsivo para telas menores que 600px */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .big-square {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
  }

  .character {
    margin-bottom: 10px;
  }

  #chooseBtn {
    width: 100%;
    font-size: 0.8rem;
  }

  /* Botão centralizado */
  .container {
    grid-template-rows: repeat(1, 1fr);
    padding-top: 10vh;;
  }
}
