
/* importações */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;     
}

.navbar{
  display: flex;
  width: 100vw;
  height: 5vh;
  background-color: aliceblue;    
  align-items: center;
  position: fixed;
  z-index: 1;
}
  
.navbar a{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-image: url('../img/casa.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0);
  border:none;
  position: absolute;
  right: 30px;
}
  
.navbar input{
  height: 1.5rem;
  width: 4rem;
  cursor: pointer;
  background-image: url("../img/quit.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: transparent;
}
  
  
  
.bn{
  right: 30px;
  position: absolute;
}
  
#perfil{
  height: 2rem;
  width: 2rem;
  background-image: url('img/perfil.png');
  cursor: pointer;
  border:none;
  position: absolute;
  left: 15px;
    
}

.fundo{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding-bottom: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.664);
  animation: float 2s ease-in-out infinite;
}


.trilhas{
  display: flex;
  width: 60%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.trilhas a {
  text-decoration: none;
}

.trilhas_conteiner{
  display: flex;
  width: 300px;
  height: 200px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(62, 152, 212, 0.384);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  color: aliceblue;
  font-size: 1rem;
  transition-duration: 0.4s;
  }

.trilhas_conteiner:hover{
  color:hsl(0, 31%, 70%);
  text-shadow: 0px 4px 4px rgb(0 0 0 / 70%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
}

.trilhas_conteiner:active{
  transform: translateY(4px)
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}