/* Importando as fontes de texto */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* Formatação padrão */
* {
  padding: 0;
  margin: 0;
}

/* Estilização do body */
body{
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  background-image: url('fundo_main.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Estilização do container */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo do pergaminho */
.pergaminho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 50%;
  background-image: url('pergaminho.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/* Estilo do formulário */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Estilo título h1 */
h1 {
  margin-bottom: 7%;
}

/* Estilo das divs dos inputs */
.box {
  margin: 3%;
}

/* Estilo inputs */
.input {
  height: 3vh;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  border-style: none;
  background-color: #D0A270;
  padding: 0.8rem;
  border: 3px solid #000;
}

.input::placeholder {
  color: #000;
}

input:focus {
  outline: none;
}

#message {
  height: 10vh;
}

/* Estilo botão de enviar */
#button {
  background-image: url(button_action.png);
  font-family: 'Press Start 2P', cursive;
  width: 200px;
  height: 60px;
  text-decoration: none;
  border-style: none;
  background-size: 100% 100%;
  background-position: center center;
  padding: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 28px;
  }

  .pergaminho {
    background-image: url('pergaminho_vertical.png');
    height: 70%;
    width: 85%;
    background-repeat: no-repeat;
    background-position: center;
  }  

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .input {
    height: 1vh;
    color: #000;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    border-style: none;
    background-color: #D0A270;
    padding: 0.8rem;
    border: 3px solid #000;
  } 

  }

@media only screen and (max-width: 700px) {

  .container {
    height: 80%;
    width: 80%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 25px;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input {
    height: 1vh;
    width: 70%;
    color: #000;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    border-style: none;
    background-color: #D0A270;
    padding: 0.8rem;
    border: 3px solid #000;
  }

  #button {
    width: 100px;
    height: 45px;
  }
  }

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 100%;
  }
}